{% extends "admin/layout.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block hero %}

    <h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">{{ title }}</h1>

{% endblock hero %}

{% block body %}

<div style="padding: 1rem 1.5rem 0 1.5rem;">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <p>You're here: </p>
        <li><a href="{{ url_for("admin.dashboard") }}">Dashboard</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="section">
  <div class="container">


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <table border="1">
    <th>Route</th>
    <th>Default title</th>
    <th>Custom title</th>
    <th>View</th>
  {% for rule in rules %}
  <tr>
    <td>
        {{ rule['path'] }}
    </td>
    <td>{{ rule['title'] }}</td>
    <td><a href="{{ url_for('seo_page_title.set_page_title', encodedPath=rule['encodedPath']) }}">
        Edit title
        </a>
    </td>
    <td><a href="{{ rule['path']}}" target="_blank">View</a></td>
  </tr>
  {% endfor %}
  </table>
  </div><!-- end container -->
</div><!-- end section -->


{% endblock body %}
